<div class="content">
  <div class="container">
    <div class="row mt-5 mb-3">
      <div class="card card-primary card-outline">
        <div class="card-body">
          <h5 class="card-title">Piano Virtual 😎🎹</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="card card-primary card-outline">
        <div class="row">
          <div class="col-md-12">
            <div class="piano-wrapper">
              <ul class="piano">
                  <li class="key">
                      <span (click)="aplicarSonido(28)" class="white-key" ><i>Do</i></span>
                      <span (click)="aplicarSonido(29)" class="black-key">
                          <i>
                              <span>Do</span>
                              <span>Re</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(30)" class="white-key"><i>Re</i></span>
                      <span (click)="aplicarSonido(31)" class="black-key">
                          <i>
                              <span>Re</span>
                              <span>Mi</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(32)" class="white-key"><i>Mi</i></span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(33)" class="white-key"><i>Fa</i></span>
                      <span (click)="aplicarSonido(34)" class="black-key">
                          <i>
                              <span>Fa</span>
                              <span>Sol</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(35)" class="white-key"><i>Sol</i></span>
                      <span (click)="aplicarSonido(36)" class="black-key">
                          <i>
                              <span>Sol</span>
                              <span>La</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(37)" class="white-key"><i>La</i></span>
                      <span (click)="aplicarSonido(38)" class="black-key">
                          <i>
                              <span>La</span>
                              <span>Si</span>
                          </i>
                      </span>
                  </li>
                  
                  <li class="key">
                      <span (click)="aplicarSonido(39)" class="white-key"><i>Si</i></span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(40)" class="white-key"><i>Do</i></span>
                      <span (click)="aplicarSonido(41)" class="black-key">
                          <i>
                              <span>Do</span>
                              <span>Re</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(41)" class="white-key"><i>Re</i></span>
                      <span (click)="aplicarSonido(42)" class="black-key">
                          <i>
                              <span>Re</span>
                              <span>Mi</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(44)" class="white-key"><i>Mi</i></span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(45)" class="white-key"><i>Fa</i></span>
                      <span (click)="aplicarSonido(46)" class="black-key">
                          <i>
                              <span>Fa</span>
                              <span>Sol</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(47)" class="white-key"><i>Sol</i></span>
                      <span (click)="aplicarSonido(48)" class="black-key">
                          <i>
                              <span>Sol</span>
                              <span>La</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(49)" class="white-key"><i>La</i></span>
                      <span (click)="aplicarSonido(50)" class="black-key">
                          <i>
                              <span>La</span>
                              <span>Si</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(51)" class="white-key"><i>Si</i></span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(52)" class="white-key"><i>Do</i></span>
                      <span (click)="aplicarSonido(53)" class="black-key">
                          <i>
                              <span>Do</span>
                              <span>Re</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(54)" class="white-key"><i>Re</i></span>
                      <span (click)="aplicarSonido(55)" class="black-key">
                          <i>
                              <span>Re</span>
                              <span>Mi</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(56)" class="white-key"><i>Mi</i></span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(57)" class="white-key"><i>Fa</i></span>
                      <span (click)="aplicarSonido(58)" class="black-key">
                          <i>
                              <span>Fa</span>
                              <span>Sol</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(59)" class="white-key"><i>Sol</i></span>
                      <span (click)="aplicarSonido(60)" class="black-key">
                          <i>
                              <span>Sol</span>
                              <span>La</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(61)" class="white-key"><i>La</i></span>
                      <span (click)="aplicarSonido(62)" class="black-key">
                          <i>
                              <span>La</span>
                              <span>Si</span>
                          </i>
                      </span>
                  </li>
                  <li class="key">
                      <span (click)="aplicarSonido(63)" class="white-key"><i>Si</i></span>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        

        
      </div>
    </div>
  </div>
</div>




